/* GENERAL STYLES */
@import url('https://fonts.google.com/specimen/Chelsea+Market');


html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
    font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}

html{
   font-size: 62.5%; 
}


* {
    border: 2px solid green;
}

body {
    background-color: white;
    color: black;
    font-family: "Roboto Mono";
}



/* NAVIGATION STYLING * /

/* header {
    display: inline-block;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 10%;
    margin-left: 10%;
    padding-right: 2%;
    padding-left: 2%;

} */



/*
.plan{
    background-color: #FF764E;
    margin: 5% 5% 5% 15%;
}

.park{
    background-color: #5ED3EB;
    margin: 5% 5% 5% 8%;
}

.involved{
    background-color: #FFCD69;
    margin: 5% 5% 5% 8%;
}


nav a{

}

*/

nav a {
    color: white;
    margin: 4%;
    border: 1% solid lightgray;
    padding: 1%;
    display: inline-block;
    border-radius: 18px;
    text-decoration: none;
    margin-bottom: 10%;
    text-align: center;
    padding:1% 3.7% 1% 3.7%; 
    margin:2%;
    /* margin: 5%; */
    /* border-radius: 10px; */
    /* color: white; */
    /* border: 1px solid white; */
    /* display: inline-block; */
    /* margin-bottom: 10%; */
    /* padding: 2% 3% 2% 3%; */
    /* text-align: center; */
    /* width: 10%; */
    /* font-size: 1.5em; */

}

.color-font {
    color: black;
    font-family: "Roboto Mono";
}

nav {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 9%;
    margin-left: 9%;
    padding-right: 0%;
    padding-left: 9%;
}



.plan {
    background-color: #FF764E;
    color: white;
    font-family: "Roboto Mono";
    /* margin-left: 0%; */
    text-align: center;
    margin: 5% 5% 5% 15%;
  
}

.park {
    background-color: #5ED3EB;
    /* margin-left: 14%; */
    color: white;
    font-family: "Roboto Mono";
    margin: 5% 5% 5% 8%;

}

.involved {
    background-color: #FFCD69;
    /* margin-left: 7%; */
    color: white;
    font-family: "Roboto Mono"; 
    margin: 5% 5% 5% 8%;

}

/* TOP YOSEMITE TITLE & INTRO */

#top {
    display: inline-block;
}

/* #top-intro-img {

} */

#top-title {

}

h1 {
    font-size: 210%;
    font-family: "Chelsea Market";
    color: black;
    float: right;
    position: relative;
    right: 390px;
    bottom: 240px;
}

#top-intro p {
    text-align: center;
    float: right;
    position: relative;
    right: 0.em;
    bottom: 180px;    
}

#intro-img {
    height: 24%;
    width: 20%;
    border-radius: 110px;
    margin: 1% 5% 5% 8%;
}

/* ABOUT SECTION STYLING */

#about{
    background-color: #DDB9A3;
    color: white;
    text-align: center;
    position: relative;
    bottom: 50px;
    margin: 2% 2% 2% 2%;
    padding: 1% 2% 1% 2%;
}

/* CAMPFIRE & CAMPER INFO STYLING */

#campfire-img-container {

}

#campfire-img {
    height: 10%;
    width: 10%;
    position: relative;
    left: 510px;
    bottom: 45px;
}

#info-fire {
    text-align: center;
    position: relative;
    bottom: 35px;
    right: 5px;
}

#camper-img {
    height: 10%;
    width: 10%;
    position: relative;
    left: 505px;
}

#info-camp {
    text-align: center;
    position: relative;
    left: 5px;
}

/* FOOTER STYLINGS */

footer {
    background-color: #F9E7DC;
    margin: 0%;
}

#foot-img-sec {

}

#foot-img-container {

}

#foot-img {

}



